{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<center>
<div class="col-lg-6" style="color: white;">
    <div class="box-element">
        <h3>Order Summary</h3>
        <hr>
        {% for item in summary %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{item.product.geturl}}"></div>
            <div style="flex:2"><p>{{ item.product.name }}</p></div>
            <div style="flex:1"><p>{{ item.product.price }}Rs</p></div>
            <div style="flex:1"><p> {{ item.quantity }}</p></div>
        </div>
        {% endfor %}
    </div>
</div>
</center>
{% endblock content %}