{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2 style="text-align: center;  color:  #74015c;  padding: 20px;margin-top: 4%;"  >Forgot Your Password?</h2><br>    
<div style="width: 25%;  overflow: hidden;  margin: auto;  margin: 20 0 0 450px;  padding: 80px;  background:  #74015c;  border-radius: 15px ; ">    
<form id="login" method="get" action="login.php">    
    <center>
        <label style="color: white; font-size: 17px;"><b>Enter Email     
        </b>    
        </label><br>
        <input type="email" name="Email" id="Email" placeholder="Email" style="margin-top:1%;text-align:center;width: 80%;  height: 40%;  border: none;  border-radius: 3px;  padding-left: 8px;">    
        <br><br><br>
        <input type="button" name="log" id="log" style="width: 50%; height: 50%;  border: none;  border-radius: 7px;  padding-left: 7px;  color: #74015c;background-color: white;  
        "value="Submit">       
        <br><br>      
    </center>
    </form>     
{% endblock content %}