<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mizi_Design</title>
    <link rel="stylesheet" href="{% static 'css/a.css' %}" />
    <script type="text/javascript">
      var user='{{request.user}}'

      function getToken(name){
        var cookieValue=null;
        if(document.cookie && document.cookie !==''){
          var cookies=document.cookie.split(';');
          for(var i=0;i<cookies.length;i++){
            var cookie=cookies[i].trim();
            if(cookie.substring(0,name.length+1)===(name+'=')){
              cookieValue=decodeURIComponent(cookie.substring(name.length+1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken=getToken('csrftoken');

      function getCookie(name){
        var cookieArr=document.cookie.split(";");
        for(var i=0;i<cookieArr.length;i++){
          var cookiePair=cookieArr[i].split("=");
          if(name==cookiePair[0].trim()){
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      }

      var cart=JSON.parse(getCookie('cart'))
      if(cart == undefined){
        cart={}
        console.log('cart created')
        document.cookie='cart='+JSON.stringify(cart)+";domain=;path=/;secure=true"
      }
      console.log('Cart:',cart)
    </script>
</head>
<body style="background-color: black; font-family: American Typewriter, serif; font-style: italic;">
    <nav class="navbar navbar-expand-lg navbar-dark bg" style="background-color: #74015c;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">
              <img src="{% static 'images/logo2.jpeg' %}" alt="" height="30">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                {% if customer == 'null' %}
                <a href="{% url 'login' %}"class="btn btn-warning">Login</a>
                {% else %}
                <a class="navbar-brand" href="{% url 'cust' customer.id %}" >{{ customer.name }}</a>
                <a href="{% url 'logout' %}"class="btn btn-warning">Logout</a>
                {% endif %}
                <a href="{% url 'cart' %}">
                   <img  id="cart-icon" src="{% static 'images/cart.jpg' %}">
               </a>
               </li>
               <li>
               <p id="cart-total">{{ cartItems }}</p>
               </li>
                </ul>
           </div>
          </div>
        </div>
      </nav>
    <div class="conatiner" >
        {% block content %}
        {% endblock content%}
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/desc.js' %}"></script>
  </body>
</html>